
.navbar ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.navbar li{
    display: inline-block;
    list-style: none;
    font-weight: bold;
    padding: 10px 5px;
    
    
    
}
.navbar a{
    display: block;
    font-weight: bold;
    font-size: medium;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    padding-left: 15px;
    
    
}
.navbar a:hover{
    color: rgb(185, 45, 143);
}
body{
    background-color: rgb(250, 242, 242);
}
img{
    border-radius: 50%;
    float: left;
    width: 150px"
}
.about{
    font-size: larger;
}